@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sedan+SC&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* :root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --bg-color: #00ADB5;
    --text-color: #EEEEEE;
} */
:root {
  --primary-color: ;
  --secondary-color: ;
  --bg-color: ;
  --text-color: ;
}

.dark {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --therd-color: #3c3d37;
  --bg-color: #948979;
  --text-color1: #dfd0b8;
  --text-color: #00adb5;
  --text-gradient: linear-gradient(to right, #00adb5, #3cd3ad);
  --text-color3: #f1efec;

  /* Sidebar colors for dark theme */
  --sidebar-bg: #36404A;
  --sidebar-text: #e0e0e0;

  /* Chatcontainer colors for dark theme */
  --chatcontainer-bg: #303841;
  --Chatcontainer-text: #EFF2F7;
}




/* * {
    font-family: "Sedan SC", serif;
} */

::-webkit-scrollbar {
  display: none;
}